:root {
  /* Paleta de cores */
  --primary-color: #27500a;
  --secondary-color: #639922;
  --title-color: #c0dd97;
  --text-primary: #989898;
  --sidebar-bg: #3b6d11;
  --bg-color: #f1efe8;
  --btn-color: #97c459;
  --placeholder-color: #2c2c2a;
  --gelo: #eee;

  /* Tipografia */
  --font-family: Tahoma, sans-serif;
}
.dark-mode {
  --text-primary: #f1efe8;
  --sidebar-bg: #1f4210;
  --bg-color: #2c2c2a;
  --placeholder-color: #d0d0d0;
}
/* global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.concluded {
  text-decoration: line-through;
  color: var(--text-primary);
}
.concluded-btn {
  background-color: var(--secondary-color);
  color: var(--gelo);
  border: none;
  border-radius: 16px;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
}
.edit-btn {
  background-color: var(--secondary-color);
  color: var(--gelo);
  border: none;
  border-radius: 16px;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
}
.delete-btn {
  background-color: transparent;
  color: var(--placeholder-color);
  border: 2px solid var(--placeholder-color);
  border-radius: 16px;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
}
.task-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 50vw;
  background-color: var(--secondary-color);
  margin: 5px 0;
}
/* layout */
body {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr auto;
  font-family: var(--font-family);
}
/*header*/
.header {
  grid-area: header;
  background: var(--primary-color);
  color: var(--title-color);
  padding: 20px;
  text-align: center;
}
#theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 16px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--btn-color);
  color: var(--gelo);
}
:hover#theme-toggle {
  transition: 0.4s;
  background-color: var(--secondary-color);
}
/*aside*/
.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-bg);
  color: var(--title-color);
  padding: 20px;
  width: 250px;
  min-height: fit-content;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
}
.sidebar nav button {
  background-color: transparent;
  color: var(--title-color);
  border: 2px solid var(--title-color);
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}
/*main*/
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 80vh;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
}
.new-task input {
  padding: 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 16px;
  width: 60vw;
  margin-right: 10px;
  background-color: transparent;
  color: var(--text-primary);
}
input::placeholder {
  color: var(--placeholder-color);
}
.new-task button {
  background-color: var(--btn-color);
  color: var(--gelo);
  border: none;
  border-radius: 16px;
  padding: 10px;
  cursor: pointer;
}
:hover.new-task button {
  transition: 0.4s;
  background-color: var(--secondary-color);
}
/*footer*/
.footer {
  grid-area: footer;
  background-color: var(--primary-color);
  color: var(--title-color);
  padding: 20px;
  text-align: center;
}
